<html>
  <head>
    <meta charset="utf-8">
    <title>Fast Graph, a Graph Generator</title>
    <script src="lib/jquery.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="lib/dagred3.min.js"></script>
    <script src="lib/svg-graph.js"></script>
    <script src="lib/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style/style.css" />
    <link rel="stylesheet" type="text/css" href="style/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="style/dagre.css" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="templates">
      <div id="labels">
        <i class="ui blue label" style="text-transform:none;margin-top:0">
          <%= node %>
        </i>
      </div>
      <code id="tikzbase">
% URL to Fastgraph: <%= location.href %>
\usetikzlibrary{decorations.markings}
\tikzset{
  set arrow inside/.code={\pgfqkeys{/tikz/arrow inside}{#1}},
  set arrow inside={end/.initial=>, opt/.initial=},
  /pgf/decoration/Mark/.style={
    mark/.expanded=at position #1 with
    {
      \noexpand\arrow[\pgfkeysvalueof{/tikz/arrow inside/opt}]{\pgfkeysvalueof{/tikz/arrow inside/end}}
    }
  },
  arrow inside/.style 2 args={
    set arrow inside={#1},
    postaction={
      decorate,decoration={
        markings,Mark/.list={#2}
      }
    }
  },
}
\begin{tikzpicture}[>=latex,every node/.style={circle,draw=black}]
  \tikzstyle{node}=[circle,minimum size=0.6cm,draw=black]
  <% layout.eachNode(function(n,data){ %>
  \node[node] at (<%=data.x * 0.02%>,<%=data.y*-0.02%>) (<%=n%>) {<%=n%>}; <% }); %>
  <% layout.eachEdge(function(e,u,v,data){ if(properties.straightLines || u == v){%>
  \draw plot [smooth, tension=0.8] coordinates { (<%=u%>.<%=data.outDir%>) <% _.each(data.points, function(p){ %>
  (<%=p.x * 0.02%>,<%=p.y*-0.02%>) <%}); %> (<%=v%>.<%=data.inDir%>)} [arrow inside={}{0.999}]; <% } else  {%>
  \draw[->] (<%=u%>) -- (<%=v%>); <% }}); %>
\end{tikzpicture}
<!-- it is probably somehow possible to use the b-spline points of D3, but I didn't succeed...
<% layout.eachEdge(function(e,u,v,data){ if(properties.straightLines || u == v){%>
\draw[->] (<%=u%>.<%=data.outDir%>) .. controls (<%=u%>.<%=data.outDir%>) and (<%=(data.points[0].dl-data.points[0].x)*0.02%>,<%=(data.points[0].ul-data.points[0].x)*-0.02%>) .. (<%=data.points[0].x*0.02%>,<%=data.points[0].y*-0.02%>);
\draw[->] (<%=data.points[2].x*0.02%>,<%=data.points[2].y*-0.02%>) .. controls (<%=data.points[2].dr*0.02%>,<%=data.points[2].ur*-0.02%>)  and (<%=v%>.<%=data.inDir%>) ..  (<%=v%>.<%=data.inDir%>);
<% }}); %>
-->
      </code>
    </div>
  <div id="container">
    <center>
    <h1 class="ui heading">Fast Graph</h1>
    </center>

    <div id="content" class="ui inverted form segment">
      <h2 class="ui heading">Inputs</h2>
      <div class="field">
        <label>Edges</label>
        <div class="ui fluid action input">
          <input id="edges" type="text" placeholder="Edges: e.g. A->B , B->C" />
          <div class="ui teal right labeled icon button" id="graph-code"><i class="copy icon"></i> Copy</div>
        </div>
      </div>
      <div class="field">
        <label>Nodes</label>
        <div class="ui fluid" id="nodes">
        </div>
      </div>
      <br/>
      <div class="two fields">
        <div class="field">
          <label>Level Distance</label>
          <input class="range" id="levelDist" style="width:300px" type="range"  min="0" max="100" />
        </div>
        <div class="field">
          <label>Edge Distance</label>
          <input class="range" id="edgeDist" style="width:300px" type="range"  min="0" max="400" />
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Directed?</label>
          <div class="ui checkbox">
            <input type="checkbox" id="directed">
            <label>Directed Graph</label>
          </div>
        </div>
        <div class="field">
          <label>Layout Direction</label>
          <div class="ui form">
            <div class="grouped fields">
              <div class="field">
                <div class="ui radio checkbox">
                  <input id="topDown" type="radio" name="layoutDir" checked>
                  <label for="topDown">Top Down</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input id="leftRight" type="radio" name="layoutDir">
                  <label for="leftRight">Left Right</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="min-height:150px;" class="ui tabular menu inverted">
        <a id="activate-graph-view" class="item">Graph View</a>
        <a id="activate-tex-view" class="item">Tex + Tikz</a>
        <a id="activate-svg-view" class="item">SVG</a>
        <div id="result" class="ui segment tab-content invisible">
        </div>
        <div id="tex" class="ui segment tab-content invisible">
          <div class="ui button copy blue tiny" id="copy-tex">Copy to clipboard</div>
            <div class="inline field">
              <div class="ui checkbox">
                <input type="checkbox" id="straight">
                <label style="color:black">Curved Lines <small>(experimental)</small></label>
              </div>
            </div>
          <pre><code id="tex-code">
          </pre></code>
        </div>
        <div id="svg" style="overflow:hidden" class="ui segment tab-content invisible">
          <div class="ui button copy blue tiny" id="copy-svg">Copy to clipboard</div>
          <pre style="margin-top:30px"><code id="svg-code">
          </pre></code>
        </div>
      </div>
      <div id="doWork" class="worker"></div>
    </div>
    </div>
  </div>
  <div style="width:100%" class="ui inverted green page grid segment">
    <div class="ten wide column">
      <div class="ui ten column stackable grid">
        <div class="five wide column">
          <div class="ui header">Source</div>
          <div class="ui link list">
            <a class="item" href="https://github.com/LittleHelicase/FastGraph" class="ui header">@Github<i class="github icon"></i></a>
          </div>
        </div>
        <div class="five wide column">
          <div class="ui header">Thanks to</div>
          <div class="ui  link list">
            <a class="item" href="https://github.com/cpettitt/dagre-d3">Dagre-D3</a>
            <a class="item" href="http://semantic-ui.com/">Semantic UI</a>
            <a class="item" href="http://underscorejs.org/">UnderscoreJS</a>
          </div>
        </div>
        <div class="five wide column">
          <div class="ui header">&nbsp;</div>
          <div class="ui  link list">
            <a class="item" href="http://d3js.org/">D3</a>
            <a class="item" href="http://jquery.com/">JQuery</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script>
      var tabs = [
        {button:"activate-graph-view",tab:"result"},
        {button:"activate-tex-view",tab:"tex"},
        {button:"activate-svg-view",tab:"svg"}
      ];
      var clipboards = [
        {button:"copy-tex", content:"tex-code"},
        {button:"copy-svg", content:"svg-code"},
        {button:"graph-code", content:function(){
          return location.href;
        }}
      ]

      function Template(name){
        var html = $("#"+name).html();
        html = html.replace(/&lt;%/g, "<%").replace(/%&gt;/g, "%>");
        return _.template(html);
      }

      function createGraph(){
        var makeEdge = function(edgeString){
          var parts = edgeString.split("->");
          if(parts.length != 2 || parts[0].trim() == "" || parts[1].trim() == ""){
            return null;
          }
          return {from: parts[0].trim(), to: parts[1].trim()};
        }

        var edgeStrings = $("#edges").val().split(",");
        //extracting nodes from the edgeStrings
        var nodes = _.compact(_.flatten(_.map(edgeStrings,function(n){return n.trim().split("->")})));

        if(nodes[0] == null || nodes[0].trim() == "") nodes = [null];
        var edges = _.compact(
          _.map(edgeStrings, makeEdge));
        var edgeNodes = _.uniq(
          _.compact(
          _.union(nodes,
          _.flatten(
          _.map(edges, function(edge){ return [edge.from, edge.to]})))));

          edgeNodes.sort();

        $("#nodes").html(_.reduce(edgeNodes, function(rest,n){
          return rest + Template("labels")({node:n});
        }, ""));

        var graphSettings = {
          edgeDist:$("#edgeDist").val(),
          levelDist:$("#levelDist").val()
        };
        return {nodes: edgeNodes, connections: edges, settings: graphSettings};
      }
      
      function latexDir(p1, p2){
        if(p1.x-p2.x < 0 && p1.y - p2.y < 0)
          return "south east";
        if(p1.x-p2.x > 0 && p1.y - p2.y < 0)
          return "south west";
        if(p1.x-p2.x < 0 && p1.y - p2.y > 0)
          return "north east";
        if(p1.x-p2.x > 0 && p1.y - p2.y > 0)
          return "north west";
        if(p1.x-p2.x == 0 && p1.y-p2.y > 0)
          return "north";
        if(p1.x-p2.x == 0 && p1.y-p2.y < 0)
          return "south";
        if(p1.x-p2.x < 0 && p1.y-p2.y == 0)
          return "east";
        if(p1.x-p2.x > 0 && p1.y-p2.y == 0)
          return "west";
        return "???";
      }
      
      function createTex(graph, layout){
        var templ = Template("tikzbase");
        var nodes = {};
        layout.eachNode(function(n,data){
          nodes[n] = data;
        });
        layout.eachEdge(function(e,u,v,data){
          var node = nodes[u];
          data.outDir = latexDir(node, data.points[0]);
          if(u == v) {
            data.inDir = latexDir(node, data.points[data.points.length-1]);
          } else {
            data.inDir = latexDir(data.points[data.points.length-1], node);
          }
        })
        $("#tex-code").html(templ({
          layout: layout,
          properties: {
            straightLines: $("#straight")[0].checked
          }
        }));
      }

      function update(){
        var graph = createGraph();
        var layout = createSVG(graph);
        createTex(graph, layout);
        location.hash = "#" + encodeURI($("#edges").val());
      }

      function escapeHTML(string){
        return string.replace(/</g, "&lt;").replace(/>/g, "&gt;");
      }

      function createSVG(graph){
        //THE ACTUAL CREATING
        $("#result").html("");
        $("#doWork").html("");
        var layout = drawGraph(graph, "#doWork", 
          {
            directed: $("#directed")[0].checked,
            layoutDir: ($("#topDown")[0].checked) ? "TB" : "LR"
          });
        $("#result").html($("#doWork").html());
        
        //CREATE COPYABLE SVG CODE
        $("#svg-code").html("&lt;!-- URL to Fastgraph: " + location.href + " --&gt;<br/>"+escapeHTML($("#doWork").html()));
        $("#result").find("svg").attr("class", "dagre");
        return layout;
      }
      
      $("input").change(update);
      $("input[type='text']").keyup(update);
      var intervalID;
      $(".range").mousedown(function(){
        intervalID = setInterval(update,10);
      });
      $(".range").mouseup(function(){
        clearInterval(intervalID);
      });

      function hideTabs(){
        _.each(tabs, function(tab){
          $("#"+tab.button).removeClass("active");
          $("#"+tab.tab).addClass("invisible");
        })
      }
      
      function showTab(tab){
        hideTabs();
        $("#"+tab.button).addClass("active");
        $("#"+tab.tab).removeClass("invisible");
      }

      _.each(tabs, function(tab){
        $("#"+tab.button).click(function(){
          showTab(tab);
        });
      });
      $(".ui.checkbox").checkbox();
      $('.ui.radio.checkbox').checkbox();
      showTab(tabs[0]);
      window.onhashchange = function(){
        $("#edges").val(decodeURI(location.hash.slice(1)));
        update();
      }
      $(function(){
        $("#edges").val(decodeURI(location.hash.slice(1)));
        update();
      });
    </script>
    <script src="lib/zeroclipboard.js"></script>
    <script src="lib/clipboard.js"></script>
  </body>
</html>
