script(src="templates/templates.js")
script(src="scripts/dagre-graph.js")
script(src="scripts/jointjs-graph.js")
script(src="scripts/parse-graph.js")
script(src="scripts/svg-graph.js")
script(src="scripts/tex-graph.js")
script(src="scripts/parse-graph.js")
script(src="scripts/listeners.js")
script.
  var clipboards = [
      {button:"copy-tex", content:"tex-code"},
      {button:"copy-svg", content:"svg-code"},
      {button:"graph-code", content:function(){
        return location.href;
      }}
    ]
    
  function update(){
    var description = getInputs();
    var graph = createGraph(description);
    var layout = createSVG(graph);
    var sourceMap = createSourceMap(description);
    installListeners(graph, layout, sourceMap);
    createTex(graph, layout);
    updateFields(graph);
  }
script(src="scripts/footer.js")
script(src="scripts/controls.js")
script(src="lib/zeroclipboard.js")
script(src="lib/clipboard.js")
