.dagre {
  height:30vw;
  overflow:auto;
  z-index:100;
  background-color: white!important;
  width:100%;
}
.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

tspan {
    color:black!important;
}
