#footer.ui.inverted.green.page.grid.segment
  .ten.wide.column
    .ui.ten.column.stackable.grid
      .five.wide.column
        .ui.header Source
        .ui.link.list
          a(href="https://github.com/LittleHelicase/FastGraph").item
            i.icon.github
            | @Github
      .five.wide.column
        .ui.header Thanks to
        .ui.link.list
          a(href="https://github.com/cpettitt/dagre-d3").item Dagre-D3
          a(href="http://semantic-ui.com").item Semantic UI
          a(href="http://underscorejs.org").item UnderscoreJS
    