h2.heading Graph Descriptor
.ui.fluid.action.input
  input(type="text",placeholder="Graph: e.g. A->B,C,D->B")#edges
  .ui.teal.right.labeled.icon.button#graph-code
    i.copy.icon 
    | Copy URL
br
#nodes.ui.fluid
