.ui.tabular.menu.inverted#result-tabular
  a(data-tab="graph-view").item#activate-graph-view.active Graph View
  a(data-tab="tex").item#activate-tex-view Tikz (Tex)
  a(data-tab="svg").item#activate-svg-view SVG
div(data-tab="graph-view")#result.ui.segment.tab-content.tab.active
div(data-tab="tex")#tex.ui.segment.tab-content.tab
  .ui.button.copy.blue.tiny#copy-tex Copy to clipboard
  .inline.field
    .ui.checkbox
      input(type="checkbox")#straight
      label.black Curved Lines
        small (experimental)
  pre
    code#tex-code
div(data-tab="svg")#svg.ui.segment.tab-content.tab
  .ui.button.copy.blue.tiny#copy-svg Copy to clipboard
  pre
    code#svg-code
.worker#doWork